.inline-block {
    display: inline-block;
    vertical-align: bottom;
    
}
.inline-block li{
    background-color: #ddd;
    outline: 1px solid #000;
}
.inline-block li:hover{
    background-color: red;
    color: black; 
}
.logo {    
    width: 100px; 
    height: 100px; 
    padding: 1%;      
}
.name {
    text-align: left;
    font-weight: 900;
    font-size: 50px;       
}
.navigation {
    background-color: darkorange;
    overflow: hidden;    
}
nav {
    width: 73%;
    padding: 1%;
    text-align: right;    
}
ul {
    width:50%;
    margin-left: auto;
}
.heroimg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
button {
    background-color: #aa0a04;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
footer {
    background-color: darkorange;
    text-align: left;
    height: 50px;    
}
footer ul{
    float: left;
}